{% extends "base.html" %}
{% load static %}
{% block title %}
Gigaland - {{ author_info.name }}
{% endblock %}
{% block content %}
    <!-- section begin -->
    <section id="profile_banner" aria-label="section" class="text-light" data-bgimage="url({% if 'author_single/author_banner.jpg' == author_info.banner %}{% static "images/author_single/author_banner.jpg" %}{% else %}{{ author_info.banner.url }}{% endif %}) top">
            
    </section>
    <!-- section close -->
    

    <section aria-label="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <div class="d_profile de-flex">
                        <div class="de-flex-col">
                            <div class="profile_avatar">
                                <img src="{{ author_info.avatar.url }}" alt="">
                                <i class="fa fa-check"></i>
                                <div class="profile_name">
                                    <h4>
                                        {{ author_info.name }}                                                
                                        <span class="profile_username">@{{ author_info.nickname }}</span>
                                        <span id="wallet" class="profile_wallet">DdzFFzCqrhshMSxb9oW3mRo4MJrQkusV3fGFSTwaiu4wPBqMryA9DYVJCkW9n7twCffG5f5wX2sSkoDXGiZB1HPa7K7f865Kk4LqnrME</span>
                                        <button id="btn_copy" title="Copy Text">Copy</button>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="profile_follow de-flex">
                            <div class="de-flex-col">
                                <div class="profile_follower">500 followers</div>
                            </div>
                            <div class="de-flex-col">
                                <a href="#" class="btn-main">Follow</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-12">
                    <div class="de_tab tab_simple">

                        <ul class="de_nav">
                            <li class="active"><span>On Sale</span></li>
                            <li><span>Created</span></li>
                            <li><span>Liked</span></li>
                        </ul>
                        
                        <div class="de_tab_content">
                            
                            <div class="tab-1">
                                <div class="row">
                                    {% for item in item_info_owner %}
                                    {% if item.on_sale is True %}
                                        <!-- nft item begin -->
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="nft__item">
                                                <div class="de_countdown" data-year="2022" data-month="4" data-day="16" data-hour="8"></div>
                                                <div class="author_list_pp">
                                                    <a href="author.html">                                    
                                                        <img class="lazy" src="images/author/author-1.jpg" alt="">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                </div>
                                                <div class="nft__item_wrap">
                                                    <div class="nft__item_extra">
                                                        <div class="nft__item_buttons">
                                                            <button onclick="location.href='item-details.html'">Buy Now</button>
                                                            <div class="nft__item_share">
                                                                <h4>Share</h4>
                                                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                                                                <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                                                                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="{% url "profiling:item" item.id %}">
                                                        <img src="{{ item.image.url }}" class="lazy nft__item_preview" alt="">
                                                    </a>
                                                </div>
                                                <div class="nft__item_info">
                                                    <a href="{% url "profiling:item" item.id %}">
                                                        <h4>{{ item.title }}</h4>
                                                    </a>
                                                    <div class="nft__item_click">
                                <span></span>
                            </div>
                            <div class="nft__item_price">
                                                        {{ item.price }} ETH<span>1/20</span>
                                                    </div>
                                                    <div class="nft__item_action">
                                                        <a href="#">Place a bid</a>
                                                    </div>
                                                    <div class="nft__item_like">
                                                        <i class="fa fa-heart"></i><span>50</span>
                                                    </div>                            
                                                </div> 
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                            <!-- closing divs -->
                                </div>
                            </div>
                            
                            <div class="tab-2">
                                <div class="row">
                                    {% for item in item_info_creator %}
                                        <!-- nft item begin -->
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="nft__item">
                                                <div class="de_countdown" data-year="2022" data-month="4" data-day="14" data-hour="8"></div>
                                                <div class="author_list_pp">
                                                    <a href="author.html">                                    
                                                        <img class="lazy" src="images/author/author-1.jpg" alt="">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                </div>
                                                <div class="nft__item_wrap">
                                                    <div class="nft__item_extra">
                                                        <div class="nft__item_buttons">
                                                            <button onclick="location.href='item-details.html'">Buy Now</button>
                                                            <div class="nft__item_share">
                                                                <h4>Share</h4>
                                                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                                                                <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                                                                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="{% url "profiling:item" item.id %}">
                                                        <img src="{{ item.image.url }}" class="lazy nft__item_preview" alt="">
                                                    </a>
                                                </div>
                                                <div class="nft__item_info">
                                                    <a href="{% url "profiling:item" item.id %}">
                                                        <h4>{{ item.title }}</h4>
                                                    </a>
                                                    <div class="nft__item_click">
                                <span></span>
                            </div>
                            <div class="nft__item_price">
                                                        {{ item.price }} ETH<span>1/11</span>
                                                    </div>
                                                    <div class="nft__item_action">
                                                        <a href="#">Place a bid</a>
                                                    </div>
                                                    <div class="nft__item_like">
                                                        <i class="fa fa-heart"></i><span>97</span>
                                                    </div>                                 
                                                </div> 
                                            </div>
                                        </div>
                                        {% endfor %}
                             <!-- closing divs -->
                                </div>
                            </div>

                            <div class="tab-3">
                                <div class="row">
                                    <!-- nft item begin -->
                                    <div class="col-lg-3 col-md-6">
                                        <div class="nft__item">
                                            <div class="author_list_pp">
                                                <a href="author.html">                                    
                                                    <img class="lazy" src="images/author/author-1.jpg" alt="">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                            </div>
                                            <div class="nft__item_wrap">
                                                <a href="item-details.html">
                                                    <img src="images/items/anim-4.webp" class="lazy nft__item_preview" alt="">
                                                </a>
                                            </div>
                                            <div class="nft__item_info">
                                                <a href="item-details.html">
                                                    <h4>The Truth</h4>
                                                </a>
                                                <div class="nft__item_click">
                                <span></span>
                            </div>
                            <div class="nft__item_price">
                                                    0.06 ETH<span>1/20</span>
                                                </div>
                                                <div class="nft__item_action">
                                                    <a href="#">Place a bid</a>
                                                </div>
                                                <div class="nft__item_like">
                                                    <i class="fa fa-heart"></i><span>26</span>
                                                </div>                                 
                                            </div>
                                        </div>
                                    </div>
                                    <!-- nft item begin -->
                                    <div class="col-lg-3 col-md-6">
                                        <div class="nft__item">
                                            <div class="de_countdown" data-year="2022" data-month="4" data-day="6" data-hour="8"></div>
                                            <div class="author_list_pp">
                                                <a href="author.html">                                    
                                                    <img class="lazy" src="images/author/author-2.jpg" alt="">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                            </div>
                                            <div class="nft__item_wrap">
                                                <a href="item-details.html">
                                                    <img src="images/items/anim-2.webp" class="lazy nft__item_preview" alt="">
                                                </a>
                                            </div>
                                            <div class="nft__item_info">
                                                <a href="item-details.html">
                                                    <h4>Running Puppets</h4>
                                                </a>
                                                <div class="nft__item_click">
                                <span></span>
                            </div>
                            <div class="nft__item_price">
                                                    0.03 ETH<span>1/24</span>
                                                </div>    
                                                <div class="nft__item_action">
                                                    <a href="#">Place a bid</a>
                                                </div>
                                                <div class="nft__item_like">
                                                    <i class="fa fa-heart"></i><span>45</span>
                                                </div>                                  
                                            </div> 
                                        </div>
                                    </div>
                                    <!-- nft item begin -->
                                    <div class="col-lg-3 col-md-6">
                                        <div class="nft__item">
                                            <div class="author_list_pp">
                                                <a href="author.html">                                    
                                                    <img class="lazy" src="images/author/author-3.jpg" alt="">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                            </div>
                                            <div class="nft__item_wrap">
                                                <a href="item-details.html">
                                                    <img src="images/items/anim-1.webp" class="lazy nft__item_preview" alt="">
                                                </a>
                                            </div>
                                            <div class="nft__item_info">
                                                <a href="item-details.html">
                                                    <h4>USA Wordmation</h4>
                                                </a>
                                                <div class="nft__item_click">
                                <span></span>
                            </div>
                            <div class="nft__item_price">
                                                    0.09 ETH<span>1/25</span>
                                                </div>
                                                <div class="nft__item_action">
                                                    <a href="#">Place a bid</a>
                                                </div>
                                                <div class="nft__item_like">
                                                    <i class="fa fa-heart"></i><span>76</span>
                                                </div>                                 
                                            </div> 
                                        </div>
                                    </div>
                                    <!-- nft item begin -->
                                    <div class="col-lg-3 col-md-6">
                                        <div class="nft__item">
                                            <div class="de_countdown" data-year="2022" data-month="4" data-day="8" data-hour="8"></div>
                                            <div class="author_list_pp">
                                                <a href="author.html">                                    
                                                    <img class="lazy" src="images/author/author-4.jpg" alt="">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                            </div>
                                            <div class="nft__item_wrap">
                                                <a href="item-details.html">
                                                    <img src="images/items/anim-5.webp" class="lazy nft__item_preview" alt="">
                                                </a>
                                            </div>
                                            <div class="nft__item_info">
                                                <a href="item-details.html">
                                                    <h4>Loop Donut</h4>
                                                </a>
                                                <div class="nft__item_click">
                                <span></span>
                            </div>
                            <div class="nft__item_price">
                                                    0.09 ETH<span>1/14</span>
                                                </div>
                                                <div class="nft__item_action">
                                                    <a href="#">Place a bid</a>
                                                </div>
                                                <div class="nft__item_like">
                                                    <i class="fa fa-heart"></i><span>94</span>
                                                </div>                                 
                                            </div> 
                                        </div>
                                    </div>                                                
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<!-- content close -->
{% endblock content %}