{% extends "base.html" %}
{% load static %}
{% block title %}
Gigaland - {{ author_info.name }}
{% endblock %}
{% block content %}
			<section class="full-height relative no-top no-bottom vertical-center" data-bgimage="url(images/background/subheader.jpg) top" data-stellar-background-ratio=".5">
                <div class="overlay-gradient t50">
					<div class="center-y relative">
						<div class="container">
							<div class="row align-items-center">
								<div class="col-lg-5 text-light wow fadeInRight" data-wow-delay=".5s">
                                <div class="spacer-10"></div>
                                <h1>Create, sell or collect digital items.</h1>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.</p>
                            </div>
								
								<div class="col-lg-4 offset-lg-2 wow fadeIn" data-wow-delay=".5s">
									<div class="box-rounded padding40" data-bgcolor="#ffffff">
										<h3 class="mb10">Sign In</h3>
										<p>Login using an existing account or create a new account <a href="register.html">here<span></span></a>.</p>
										<form name="contactForm" id='contact_form' class="form-border" method="post" action='blank.php'>

                                            <div class="field-set">
                                                <input type='text' name='email' id='email' class="form-control" placeholder="username">
                                            </div>
											
											 <div class="field-set">
                                                <input type='password' name='password' id='password' class="form-control" placeholder="password">
                                            </div>
											
											<div class="field-set">
												<input type='submit' id='send_message' value='Submit' class="btn btn-main btn-fullwidth color-2">
											</div>
											
											<div class="clearfix"></div>
											
											<div class="spacer-single"></div>

                                        <!-- social icons -->
                                        <ul class="list s3">
                                            <li>Login with:</li>
                                            <li><a href="#">Facebook</a></li>
                                            <li><a href="#">Google</a></li>
                                        </ul>
                                        <!-- social icons close -->
                                </form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>		
            
        </div>
{% endblock %}