{% extends "base.html" %}
{% load static %}
{% block titile %}
Gigaland - News
{% endblock %}

{% block content %}
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(images/background/subheader.jpg) top">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-12 text-center">
									<h1>News</h1>
									<p>Anim pariatur cliche reprehenderit</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->
            

            <!-- section begin -->
			<section aria-label="section">
                <div class="container">
                    <div class="row">
						<div class="col-lg-4 col-md-6 mb30">
							<div class="bloglist item">
                                    <div class="post-content">
                                        <div class="post-image">
                                            <img alt="" src="images/news/news-1.jpg" class="lazy">
                                        </div>
                                        <div class="post-text">
                                            <span class="p-tagline">Tips &amp; Tricks</span>
                                            <span class="p-date">October 28, 2020</span>
                                            <h4><a href="news-single.html">The next big trend in crypto<span></span></a></h4>
                                            <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                                            <a class="btn-main" href="news-single.html">Read more</a>
                                        </div>
                                    </div>
                                </div>
						</div>
						
						<div class="col-lg-4 col-md-6 mb30">
							<div class="bloglist item">
                                    <div class="post-content">
                                        <div class="post-image">
                                            <img alt="" src="images/news/news-2.jpg" class="lazy">
                                        </div>
                                        <div class="post-text">
                                            <span class="p-tagline">Tips &amp; Tricks</span>
                                            <span class="p-date">October 28, 2020</span>
                                            <h4><a href="news-single.html">The next big trend in crypto<span></span></a></h4>
                                            <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                                            <a class="btn-main" href="news-single.html">Read more</a>
                                        </div>
                                    </div>
                                </div>
						</div>
						
						<div class="col-lg-4 col-md-6 mb30">
							<div class="bloglist item">
                                    <div class="post-content">
                                        <div class="post-image">
                                            <img alt="" src="images/news/news-3.jpg" class="lazy">
                                        </div>
                                        <div class="post-text">
                                            <span class="p-tagline">Tips &amp; Tricks</span>
                                            <span class="p-date">October 28, 2020</span>
                                            <h4><a href="news-single.html">The next big trend in crypto<span></span></a></h4>
                                            <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                                            <a class="btn-main" href="news-single.html">Read more</a>
                                        </div>
                                    </div>
                                </div>
						</div>
						
						<div class="col-lg-4 col-md-6 mb30">
							<div class="bloglist item">
                                    <div class="post-content">
                                        <div class="post-image">
                                            <img alt="" src="images/news/news-4.jpg" class="lazy">
                                        </div>
                                        <div class="post-text">
                                            <span class="p-tagline">Tips &amp; Tricks</span>
                                            <span class="p-date">October 28, 2020</span>
                                            <h4><a href="news-single.html">The next big trend in crypto<span></span></a></h4>
                                            <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                                            <a class="btn-main" href="news-single.html">Read more</a>
                                        </div>
                                    </div>
                                </div>
						</div>
						
						<div class="col-lg-4 col-md-6 mb30">
						<div class="bloglist item">
                                    <div class="post-content">
                                        <div class="post-image">
                                            <img alt="" src="images/news/news-5.jpg" class="lazy">
                                        </div>
                                        <div class="post-text">
                                            <span class="p-tagline">Tips &amp; Tricks</span>
                                            <span class="p-date">October 28, 2020</span>
                                            <h4><a href="news-single.html">The next big trend in crypto<span></span></a></h4>
                                            <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                                            <a class="btn-main" href="news-single.html">Read more</a>
                                        </div>
                                    </div>
                                </div>
						</div>
						
						<div class="col-lg-4 col-md-6 mb30">
							<div class="bloglist item">
                                    <div class="post-content">
                                        <div class="post-image">
                                            <img alt="" src="images/news/news-6.jpg" class="lazy">
                                        </div>
                                        <div class="post-text">
                                            <span class="p-tagline">Tips &amp; Tricks</span>
                                            <span class="p-date">October 28, 2020</span>
                                            <h4><a href="news-single.html">The next big trend in crypto<span></span></a></h4>
                                            <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                                            <a class="btn-main" href="news-single.html">Read more</a>
                                        </div>
                                    </div>
                                </div>
						</div>

                        <div class="spacer-single"></div>
                                
                        <ul class="pagination">
                            <li><a href="#">Prev</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                        
                    </div>
                </div>
            </section>

        </div>
{% endblock content %}