{% extends "base.html" %}
{% load static %}
{% block titile %}
Gigaland - Articles
{% endblock %}

{% block content %}
            
            <!-- section begin -->
            {% include "includes/subheader.html" %}
            <!-- section close -->
            

            <!-- section begin -->
			<section aria-label="section">
                <div class="container">
                    <div class="row">

                        {% for post in posts %}
						<div class="col-lg-4 col-md-6 mb30">
							<div class="bloglist item">
                                    <div class="post-content">
                                        <div class="post-image">
                                            <img alt="" src="{{ post.image.url }}" class="lazy">
                                        </div>
                                        <div class="post-text">
                                            <span class="p-tagline">{{ post.category }}</span>
                                            <span class="p-date">{{ post.pub_date|date:"E d Y" }}</span>
                                            <h4><a href="{% url "articles:article_detail" post.id %}">{{ post.title }}<span></span></a></h4>
                                            <p>{{ post.text|truncatewords:20 }}</p>
                                            <a class="btn-main" href="{% url "articles:article_detail" post.id %}">Read more</a>
                                        </div>
                                    </div>
                                </div>
						</div>
						{% endfor %}

                        <div class="spacer-single"></div>
                                
                        <ul class="pagination">
                            <li><a href="#">Prev</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                        
                    </div>
                </div>
            </section>

{% endblock content %}