{% extends "base.html" %}
{% load static %}
{% block titile %}
Gigaland - Articles
{% endblock %}

{% block content %}
            
            <!-- section begin -->
            {% include "includes/subheader.html" %}
            <!-- section close -->
            
            <!-- section begin -->
			<section aria-label="section">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12">

                            <div class="items_filter">
                                <form action="blank.php" class="row form-dark" id="form_quick_search" method="post" name="form_quick_search">
                                    <div class="col text-center">
                                        <input class="form-control" id="name_1" name="name_1" placeholder="search here..." type="text" /> <a href="#" id="btn-submit"><i class="fa fa-search bg-color-secondary"></i></a>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                                
                                {% if request.GET.category %}
                                <div class="col text-center">
                                    <a href="{% url "articles:articles" %}">Reset filters</a>
                                </div>
                                {% endif %}
                                
                                {% comment %} For better times {% endcomment %}
                                {% comment %} <div id="item_category" class="dropdown">
                                    <a href="#" class="btn-selector">All categories</a>
                                    <ul>
                                        <li class="active"><span><a href="?">All categories</a></span></li>
                                        {% for category in categories %}
                                        <li><span>{{ category }}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div> {% endcomment %}
                                


                            </div>
                            
                        </div>
        

                        {% for post in posts %}
						<div class="col-lg-4 col-md-6 mb30">
							<div class="bloglist item">
                                    <div class="post-content">
                                        <div class="post-image">
                                            <a href="{% url "articles:article_detail" post.id %}"><img alt="" src="{{ post.image.url }}" class="lazy"></a>
                                        </div>
                                        <div class="post-text">
                                            <span class="p-tagline">{{ post.category }}</span>
                                            <span class="p-date">{{ post.pub_date|date:"E d Y" }}</span>
                                            <h4><a href="{% url "articles:article_detail" post.id %}">{{ post.title }}<span></span></a></h4>
                                            <p>{{ post.text|truncatewords:22 }}</p>
                                        </div>
                                    </div>
                                </div>
						</div>
						{% endfor %}
                        

                        <div class="spacer-single"></div>
                                
                        <ul class="pagination">

                            {% comment %} "Previous" button {% endcomment %}
                            {% if posts.has_previous %}
                                <li><a style="color: #8364e2; font-weight: bold;" href="?page={{posts.previous_page_number}}">Prev</a></li>
                            {% else %}
                                <li><a>Prev</a></li>
                            {% endif %}

                            {% comment %} Button "1" {% endcomment %}
                            {% if posts.number == 1 %}
                                <li class="active"><a>
                            {% else %}
                                <li><a href="?page=1">
                            {% endif %}
                                1</a></li>
                            {% if posts.number > 4 %}
                                <li><a>...</li></a>
                            {% endif %}

                            {% comment %} Pages cycle (2 > current > 2) {% endcomment %}
                            {% for page in posts.paginator.page_range %}
                            {% if posts.number >= posts.paginator.num_pages|add:-3 %}{% endif %}
                            {% if page >= posts.number|add:-2 and page <= posts.number|add:2 and page != 1 %}
                            {% if posts.number == page %}
                                <li class="active"><a>
                            {% else %}
                                <li><a href="?page={{ page }}">
                            {% endif %}
                                {{ page }}</a></li>
                            {% endif %}
                            {% endfor %}

                            {% comment %} Button "Last page" {% endcomment %}
                            {% if posts.number < posts.paginator.num_pages|add:-3 %}
                                <li><a>...</li></a>
                                <li><a href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a></li>
                            {% endif %}
                            {% if posts.number == posts.paginator.num_pages|add:-3 %}
                                <li><a href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a></li>
                            {% endif %}

                            {% comment %} "Next" button {% endcomment %}
                            {% if posts.has_next %}
                            <li><a style="color: #8364e2; font-weight: bold;" href="?page={{posts.next_page_number}}">Next</a></li>
                            {% else %}
                            <li><a>Next</a></li>
                            {% endif %}

                        </ul>
                        
                        

                    </div>
                </div>
            </section>

{% endblock content %}