{% extends "base.html" %}
{% load static %}
{% load posts_tags %}

{% block title %}
Gigaland - Articles
{% endblock %}

{% block content %}
            
            <!-- section begin -->
            {% include "includes/subheader.html" %}
            <!-- section close -->
            

            <!-- section begin -->
            <section aria-label="section">
                <div class="container">
                    <div class="row wow fadeIn">
                        <div class="col-lg-7 offset-lg-1">
                            <form action="" id="form-create-item" class="form-border" method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                {% include "includes/messages.html" %}

                                <div class="field-set">
                                    <h5>Article image</h5>

                                    <div class="d-create-file">
                                        <p id="file_name">PNG, JPG Max 200mb. 16:10 Recomended</p>
                                        <label for="id_image"><input type="button" id="get_file" class="btn-main" value="Browse" onclick="triggerFileInput()"></label>
                                        <input type="file" id="id_image" name="image" style="display: none;" accept="image/*" onchange="previewImageArticle()">
                                    </div>

                                    <div class="spacer-40"></div>
                                    <h5>Title</h5>
                                    <input type="text" name="title" id="id_title" class="form-control" maxlength="113" placeholder="e.g. 'Best way to make money from NFT'" value="{% if form.title.value %}{{ form.title.value }}{% endif %}" />

                                    <div class="spacer-20"></div>

                                    <h5>Text</h5>
                                    <textarea data-autoresize name="text" id="id_text" class="form-control" placeholder="e.g. 'This is very secret information..'" value="{% if form.text.value %}{{ form.text.value }}{% endif %}"></textarea>

                                    <div class="spacer-20"></div>

                                    <h5>Choose category</h5>
                                    <p class="p-info">This will make it easier to find your article</p>

                                    <div id="item_collection" class="dropdown fullwidth mb20">
                                        <a href="#" class="btn-selector" id="collectionDropdownBtn">Select Category</a>
                                        <ul>
                                            {% for category in categories %}
                                            <li data-value="{{ category }}"><span>{{ category }}</span></li>
                                            {% endfor %}
                                        </ul>
                                        <input type="hidden" id="id_category" name="category">
                                    </div>

                                    <div class="spacer-20"></div>


                                    <div class="spacer-single"></div>

                                    <input type="submit" id="submit" class="btn-main" value="Post">
                                    <div class="spacer-single"></div>
                                </div>
                            </form>
                        </div>

                        
                            <div class="col-lg-4 col-md-6 mb30">
                                <h5>Preview:</h5>
                                <div class="bloglist item">
                                        <div class="post-content">
                                            <div class="post-image">
                                               <img alt="" src="{% static "images/posts/news-5.jpg" %}" class="lazy">
                                            </div>
                                            <div class="post-text">
                                                <span class="p-tagline" id="category_display">category</span>
                                                <span class="p-date">{{ date|date:"E d Y" }}</span>
                                                <h4 id="title_display">Title<span></span></h4>
                                                <p id="text_display">Text</p>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                                                                
                    </div>
                </div>
            </section>

{% endblock content %}